{% extends "::base.html.twig" %}

{% block content %}

    <h1>Server Error</h1>

    <p>Please report this bug!</p>
    {% if details is defined %}
        <p><b>{{ details }}</b></p>
    {% endif %}

    <p>Go back to the <a href="{{ path('vote') }}">vote page</a></p>

{% endblock %}
