{% extends "::base.html.twig" %}

{% block content %}

    <b style="font-size: 60px">
        <span style="color: #0088ff">People</span><span style="color: #ff3333">Decide</span>
    </b>

    {% if app.session.flashbag.has('error-redirect') %}
        <h4>
            {% for error in app.session.flashbag.get('error-redirect') %}
                {{ error }}
            {% endfor %}
        </h4>
    {% endif %}

{% endblock %}

