{% extends "::base.html.twig" %}

{% block content %}

    <h1>REGISTER FINISH</h1>

    <form action="{{ path("signup_confirm", { "email": email, "confirm_token": token }) }}" method="post">

        <p>
            <label>Phone number: </label><input type="text" id="phone-input" name="phone">
        </p>
        <p>
            <input type="radio" class="role-volunteer-input" name="volunteer" value="true"> I would like to volunteer
            <input type="radio" class="role-volunteer-input" name="volunteer" value="false" checked> No thanks
        </p>
        <p>
            <input type="radio" class="role-member-input" name="member" value="true"> I would like to be a member
            <input type="radio" class="role-member-input" name="member" value="false" checked> No thanks
        </p>

        <p>
            <label>Password: </label><input type="password" id="password-input" name="password">
        </p>
        <p>
            <label>Re-enter your password: </label><input type="password" id="password-repeat-input">
        </p>

        <h4 id="error-text" class="color-red">
        {% if app.session.flashbag.has('confirm-error') %}
                {% for error in app.session.flashbag.get('confirm-error') %}
                    {{ error }}
                {% endfor %}
        {% endif %}
        </h4>

        <button id="finish-submit" class="btn btn-success" type="submit">Finish Registration</button>
    </form>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {

        var $error = $("#error-text");

        $("#finish-submit").click(function() {

            var pass = $("#password-input").val();
            var pass_repeat = $("#password-repeat-input").val();
            if(pass !== pass_repeat) {
                $error.html("Passwords need to match");
                return false;
            }
            if(pass.length < {{ min_length }}) {
                $error.html("Password needs to be at least {{ min_length }} characters long");
                return false;
            }
        });
    });
</script>
{% endblock %}
