<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="outerTable">
    <tr>
        <td align="center" valign="top">
            {#<img width="550" src="http://d3n8a8pro7vhmx.cloudfront.net/peopledecide/sites/1/header_images/sixty/PD_logo_v4.png">#}
            <b style="font-size: 80px">
                <span style="color: #0088ff">People</span><span style="color: #ff3333">Decide</span>
            </b>
            <table border="0" cellpadding="20" cellspacing="0" width="550" id="emailContainer">
                <tr>
                    <td align="left" valign="top" style="background-color:rgb(240,240,240);">

                        {% block body %}
                        {% endblock %}

                        <p>
                            <b>From the People Decide team</b>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>