{% extends "emails/base_email.html.twig" %}

{% block body %}
    {% if header is defined %}
        <h2>{{ header }}</h2>
    {% endif %}
    {% for paragraph in paragraphs %}
        <p>{{ paragraph | raw }}</p>
    {% endfor %}
{% endblock %}